.row.perfil{ class: perfil.clase_modal }
  - if usuario_signed_in?
    .checks.col-1
      = check_box_tag 'selections[profile_id]', perfil.id,
        current_usuario.current_selection.include?(perfil.id),
        onchange: "$(this).data('params', 'selections[remove]=' + this.value)",
        data: { remote: true, method: :put, url: selections_path, params: { profile_id: perfil.id } }
  .col-3.col-sm-2.order-1
    .d-none.d-md-flex= perfil.fecha
    .d-md-none.d-flex= perfil.fecha_corta
  .col-12.col-md.order-5.order-md-2
    = perfil.link_a_serie
  -# < Remueve el espacio en blanco que agrega haml
  .col-12.col-md-2.order-6.order-md-3.ocultar-vacios<
    = perfil.country
  .col-3.col-md-2.order-4.text-left
    = perfil.link_a_self
  - if usuario_signed_in?
    .col-md-1.order-md-7.order-3
      -# FIXME Mover a acciones globales y dejar sólo el checkbox
      = render 'acciones', perfil: perfil
