.row.botonera
  .col
    .btn-toolbar
      - if can?(:update, @perfil) || can?(:modificar, @perfil)
        .btn-group.btn-group-sm.mr-2
          = link_to t('editar'), edit_perfil_path(@perfil), class: 'btn btn-primary'
          - if can?(:delete, @perfil)
            = link_to t('eliminar'), @perfil, data: { confirm: t(:confirmar) }, method: :delete, class: 'btn btn-primary'
      - if can? :read, @perfil
        .btn-group.btn-group-sm.mr-2
          = link_to t('exportar'), perfil_path(@perfil, format: :csv), class: 'btn btn-primary'
      .btn-group.btn-group-sm
        = link_to t('volver'), perfiles_path, class: 'btn btn-primary'

.row.attributes
  %dl.col
    %dt= @perfil.decorate.numero
    %hr
    %dd
      %dl.row
        %dt.col-sm-4= t '.profile.date'
        %dd.col-sm-8= @perfil.decorate.fecha

        - if @perfil.country.present?
          %dt.col-sm-4= t '.profile.country'
          %dd.col-sm-8= @perfil.decorate.country

        - if @perfil.ubicacion.present?
          %dt.col-sm-4= t '.profile.coordinates'
          %dd.col-sm-8= @perfil.decorate.coordinates

        - if @perfil.usuario.present?
          %dt.col-sm-4= t '.profile.user'
          %dd.col-sm-8= @perfil.decorate.usuario

        - if @perfil.reconocedores.any?
          %dt.col-sm-4= t '.profile.producer'
          %dd.col-sm-8= @perfil.decorate.reconocedores

.row.layers
  %dl.col
    %dt= t '.layers_title'
    %dd
      .table-responsive
        %table.table.table-sm.table-hover
          %thead
            %tr
              %th{ scope: 'col', data: { toggle: 'tooltip', placement: 'right' }, title: t('.layer.user_layer_id.long') }
                = t '.layer.user_layer_id.short'
              %th{ scope: 'col', data: { toggle: 'tooltip', placement: 'right' }, title: t('.layer.designation.long') }
                = t '.layer.designation.short'
              %th{ scope: 'col', data: { toggle: 'tooltip', placement: 'right' }, title: t('.layer.top.long') }
                = t '.layer.top.short'
              %th{ scope: 'col', data: { toggle: 'tooltip', placement: 'right' }, title: t('.layer.bottom.long') }
                = t '.layer.bottom.short'
              %th{ scope: 'col', data: { toggle: 'tooltip', placement: 'right' }, title: t('.layer.bdws.long') }
                = t '.layer.bdws.short'
              %th{ scope: 'col', data: { toggle: 'tooltip', placement: 'right' }, title: t('.layer.tceq.long') }
                = t '.layer.tceq.short'
              %th{ scope: 'col', data: { toggle: 'tooltip', placement: 'right' }, title: t('.layer.cfvo.long') }
                = t '.layer.cfvo.short'
              %th{ scope: 'col', data: { toggle: 'tooltip', placement: 'right' }, title: t('.layer.ecec.long') }
                = t '.layer.ecec.short'
              %th{ scope: 'col', data: { toggle: 'tooltip', placement: 'right' }, title: t('.layer.elco.long') }
                = t '.layer.elco.short'
              %th{ scope: 'col', data: { toggle: 'tooltip', placement: 'right' }, title: t('.layer.orgc.long') }
                = t '.layer.orgc.short'
              %th{ scope: 'col', data: { toggle: 'tooltip', placement: 'right' }, title: t('.layer.phaq.long') }
                = t '.layer.phaq.short'
              %th{ scope: 'col', data: { toggle: 'tooltip', placement: 'right' }, title: t('.layer.phkc.long') }
                = t '.layer.phkc.short'
              %th{ scope: 'col', data: { toggle: 'tooltip', placement: 'right' }, title: t('.layer.clay.long') }
                = t '.layer.clay.short'
              %th{ scope: 'col', data: { toggle: 'tooltip', placement: 'right' }, title: t('.layer.silt.long') }
                = t '.layer.silt.short'
              %th{ scope: 'col', data: { toggle: 'tooltip', placement: 'right' }, title: t('.layer.sand.long') }
                = t '.layer.sand.short'
              %th{ scope: 'col', data: { toggle: 'tooltip', placement: 'right' }, title: t('.layer.wrvo.long') }
                = t '.layer.wrvo.short'

          %tbody
            - @perfil.decorate.horizontes.each do |layer|
              %tr
                %th{ scope: 'row' }= layer.user_layer_id
                %td= layer.tipo
                %td= layer.profundidad_superior
                %td= layer.profundidad_inferior
                %td= layer.analitico.densidad_aparente
                %td= layer.analitico.ca_co3
                %td= layer.analitico.gravas
                %td= layer.analitico.t
                %td= layer.analitico.conductividad
                %td= layer.analitico.carbono_organico_c
                %td= layer.analitico.ph_h2o
                %td= layer.analitico.ph_kcl
                %td= layer.analitico.arcilla
                %td= layer.analitico.limo_2_50
                %td= layer.analitico.arena_total
                %td= layer.analitico.agua_util
