.row.botonera
  .col
    .btn-toolbar
      .btn-group.btn-group-sm
        = link_to new_import_path, class: 'btn btn-primary' do
          = t '.download'

.row
  .col
    = t '.help_html',
        import: link_to(t('.import'), '#field-csv'),
        template: link_to(t('.template'), new_import_path)

.row.nomenclature
  %dl.col
    %dt= t '.profile_attributes'
    %hr
    %dd
      %dl.row
        %dt.col-sm-3 user_profile_id
        %dd.col-sm-3.unit= t '.unit.alphanumeric'
        %dd.col-sm-6= t '.desc.user_profile_id'

        %dt.col-sm-3 date
        %dd.col-sm-3.unit= t '.unit.date'
        %dd.col-sm-6= t '.desc.date'

        %dt.col-sm-3 country
        %dd.col-sm-3.unit= t '.unit.alphanumeric'
        %dd.col-sm-6= t '.desc.country'

        %dt.col-sm-3 latitude
        %dd.col-sm-3.unit= t '.unit.signed_decimal'
        %dd.col-sm-6= t '.desc.latitude'

        %dt.col-sm-3 longitude
        %dd.col-sm-3.unit= t '.unit.signed_decimal'
        %dd.col-sm-6= t '.desc.longitude'

    %dt= t '.layer_attributes'
    %hr
    %dd
      %dl.row
        %dt.col-sm-3 user_layer_id
        %dd.col-sm-3.unit= t '.unit.alphanumeric'
        %dd.col-sm-6= t '.desc.user_layer_id'

        %dt.col-sm-3 top
        %dd.col-sm-3.unit cm
        %dd.col-sm-6= t '.desc.top'

        %dt.col-sm-3 bottom
        %dd.col-sm-3.unit cm
        %dd.col-sm-6= t '.desc.bottom'

        %dt.col-sm-3 bdws
        %dd.col-sm-3.unit
        %dd.col-sm-6= t '.desc.bdws'

        %dt.col-sm-3 tceq
        %dd.col-sm-3.unit %
        %dd.col-sm-6= t '.desc.tceq'

        %dt.col-sm-3 cfvo
        %dd.col-sm-3.unit %
        %dd.col-sm-6= t '.desc.cfvo'

        %dt.col-sm-3 ecec
        %dd.col-sm-3.unit meq/100g
        %dd.col-sm-6= t '.desc.ecec'

        %dt.col-sm-3 elco
        %dd.col-sm-3.unit mmhos/cm
        %dd.col-sm-6= t '.desc.elco'

        %dt.col-sm-3 orgc
        %dd.col-sm-3.unit %
        %dd.col-sm-6= t '.desc.orgc'

        %dt.col-sm-3 phaq
        %dd.col-sm-3.unit
        %dd.col-sm-6= t '.desc.phaq'

        %dt.col-sm-3 phkc
        %dd.col-sm-3.unit
        %dd.col-sm-6= t '.desc.phkc'

        %dt.col-sm-3 clay
        %dd.col-sm-3.unit %
        %dd.col-sm-6= t '.desc.clay'

        %dt.col-sm-3 silt
        %dd.col-sm-3.unit %
        %dd.col-sm-6= t '.desc.silt'

        %dt.col-sm-3 sand
        %dd.col-sm-3.unit %
        %dd.col-sm-6= t '.desc.sand'

        %dt.col-sm-3 wrvo
        %dd.col-sm-3.unit %
        %dd.col-sm-6= t '.desc.wrvo'

.row
  .col
    = form_tag imports_path, method: :post, multipart: true do
      .form-group.row
        %label.col-sm-3{ for: 'field-csv' }= t '.csv_spreadsheet'
        .col-sm-9= file_field_tag 'csv_import',
          id: 'field-csv', class: 'form-control', placeholder: t('.placeholder'),
          required: true, accept: 'text/csv'
      .form-group.row
        .col
          = submit_tag t('.import_submit'), class: 'btn btn-primary'
