.row.botonera
  .col
    .btn-toolbar
      .btn-group.btn-group-sm
        = link_to template_imports_path(format: :csv), class: 'btn btn-primary' do
          = t '.download'

.row
  .col
    = t '.help_html',
        import: link_to(t('.import'), '#new_import'),
        template: link_to(t('.template'), template_imports_path(format: :csv))

.row.nomenclature
  %dl.col
    %dt= t '.profile_attributes'
    %hr
    %dd
      %dl.row
        %dt.col-sm-3 user_profile_id
        %dd.col-sm-3.unit= t '.unit.alphanumeric'
        %dd.col-sm-6= t '.desc.user_profile_id'

        %dt.col-sm-3 date
        %dd.col-sm-3.unit= t '.unit.date'
        %dd.col-sm-6= t '.desc.date'

        %dt.col-sm-3 country
        %dd.col-sm-3.unit= t '.unit.alphanumeric'
        %dd.col-sm-6= t '.desc.country'

        %dt.col-sm-3 latitude
        %dd.col-sm-3.unit= t '.unit.signed_decimal'
        %dd.col-sm-6= t '.desc.latitude'

        %dt.col-sm-3 longitude
        %dd.col-sm-3.unit= t '.unit.signed_decimal'
        %dd.col-sm-6= t '.desc.longitude'

    %dt= t '.layer_attributes'
    %hr
    %dd
      %dl.row
        %dt.col-sm-3 user_layer_id
        %dd.col-sm-3.unit= t '.unit.alphanumeric'
        %dd.col-sm-6= t '.desc.user_layer_id'

        %dt.col-sm-3 top
        %dd.col-sm-3.unit cm
        %dd.col-sm-6= t '.desc.top'

        %dt.col-sm-3 bottom
        %dd.col-sm-3.unit cm
        %dd.col-sm-6= t '.desc.bottom'

        %dt.col-sm-3 bdws
        %dd.col-sm-3.unit
        %dd.col-sm-6= t '.desc.bdws'

        %dt.col-sm-3 tceq
        %dd.col-sm-3.unit %
        %dd.col-sm-6= t '.desc.tceq'

        %dt.col-sm-3 cfvo
        %dd.col-sm-3.unit %
        %dd.col-sm-6= t '.desc.cfvo'

        %dt.col-sm-3 ecec
        %dd.col-sm-3.unit meq/100g
        %dd.col-sm-6= t '.desc.ecec'

        %dt.col-sm-3 elco
        %dd.col-sm-3.unit mmhos/cm
        %dd.col-sm-6= t '.desc.elco'

        %dt.col-sm-3 orgc
        %dd.col-sm-3.unit %
        %dd.col-sm-6= t '.desc.orgc'

        %dt.col-sm-3 phaq
        %dd.col-sm-3.unit
        %dd.col-sm-6= t '.desc.phaq'

        %dt.col-sm-3 phkc
        %dd.col-sm-3.unit
        %dd.col-sm-6= t '.desc.phkc'

        %dt.col-sm-3 clay
        %dd.col-sm-3.unit %
        %dd.col-sm-6= t '.desc.clay'

        %dt.col-sm-3 silt
        %dd.col-sm-3.unit %
        %dd.col-sm-6= t '.desc.silt'

        %dt.col-sm-3 sand
        %dd.col-sm-3.unit %
        %dd.col-sm-6= t '.desc.sand'

        %dt.col-sm-3 wrvo
        %dd.col-sm-3.unit %
        %dd.col-sm-6= t '.desc.wrvo'

.row
  .col
    = form_for @import, multipart: true do |f|
      .form-group.row
        -# FIXME I18n uploader
        %label.col-sm-3{ for: :import_file }= t '.csv_spreadsheet'
        .col-sm-9= f.file_field :file,
          class: 'form-control', placeholder: true,
          required: true, accept: 'text/csv'
      .form-group.row
        %label.col-sm-3{ for: :import_type }= t '.type'
        .col-sm-9= f.collection_select :type_id, ProfileType.all, :id, :valor,
          class: 'form-control'
      .form-group.row
        %label.col-sm-3{ for: :import_producer }= t '.producer'
        .col-sm-9= f.text_field :producer,
          class: 'form-control', placeholder: true
      .form-group.row
        .col
          = f.submit t('.import_submit'), class: 'btn btn-primary'
