-# Navigation menu for header bar, every section in the application should be
-# accessible through here
.dropdown
  = link_to t('.perfiles.titulo'), '#', class: 'nav-item nav-link dropdown-toggle', data: { toggle: 'dropdown' }
  .dropdown-menu
    - if can? :create, Perfil
      = link_to t('.perfiles.cargar'), new_perfil_path, class: 'dropdown-item'
    = link_to t('.perfiles.lista'), perfiles_path, class: 'dropdown-item'
    = link_to t('.perfiles.importar'), new_import_path, class: 'dropdown-item'
    - if usuario_signed_in?
      = link_to t('.perfiles.operations'), operations_path, class: 'dropdown-item'
    .dropdown-divider
    = link_to t('.series.lista'), series_path, class: 'dropdown-item'

.dropdown
  = link_to t('.idioma.menu'), '#', class: 'nav-item nav-link dropdown-toggle', data: { toggle: 'dropdown' }
  .dropdown-menu
    - I18n.available_locales.each do |locale|
      -# url_for reuses current path
      = link_to locale, url_for(locale: locale), class: 'dropdown-item'
